<?xml version="1.0" encoding="UTF-8"?>

<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="io.anyway.bigbang.framework.logging.XPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="io.anyway.bigbang.framework.logging.XLoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>appTimestamp</fieldName>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>
                <pattern >
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "appName": "${appName}",
                        "level": "%level",
                        "thread": "%thread",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "caller": "%logger{40}.%method:%line",
                        "message": "%.-5000message",
                        "marker": "#tryJson{%marker}",
                        "stack_trace": "%exception{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="ASYNC_TEXT_CONSOLE" class="io.anyway.bigbang.framework.logging.InheritableThreadAsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="TEXT_CONSOLE"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="ASYNC_JSON_CONSOLE" class="io.anyway.bigbang.framework.logging.InheritableThreadAsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="JSON_CONSOLE"/>
        <includeCallerData>true</includeCallerData>
    </appender>

</included>
