<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <include resource="io/anyway/bigbang/framework/core/logging/logback.xml" />
    <!--<springProfile name="dev,staging,test">-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="ASYNC_TXT_CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod,staging,reg1,reg2,reg3">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSON_CONSOLE" />
        </root>
    </springProfile>

</configuration>