<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="TEXT_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="io.anyway.bigbang.framework.logging.XPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_TEXT_CONSOLE_APPENDER" class="io.anyway.bigbang.framework.logging.InheritableThreadAsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="TEXT_CONSOLE_APPENDER"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_TEXT_CONSOLE_APPENDER" />
    </root>

</configuration>
